<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="marketplacer" translate="label" sortOrder="500">
            <label>Marketplacer</label>
        </tab>
        <section id="marketplacer_base" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Base</label>
            <tab>marketplacer</tab>
            <resource>Marketplacer_Base::config</resource>
            <group id="base" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Basic Marketplacer Settings</label>
                <field id="api_endpoint" translate="label" type="text" sortOrder="0" showInDefault="1">
                    <label>API endpoint</label>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="http_login" translate="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>HTTP Basic Authentication login</label>
                </field>
                <field id="http_password" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>HTTP Basic Authentication password</label>
                </field>
            </group>
        </section>
    </system>
</config>
